@charset "utf-8";

/**:root {
  --animationDuration: 10s;
  --slideWidth: 460px;
}*/
*{
    box-sizing: border-box;
}
body{
	margin: 0px ;
	padding: 0px;
	font-family:raleway,sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
   
    
    
}
.wrapper{
    width: 1920px;
    margin: auto;
    overflow: hidden;
    background-color: #F1F1F1;
    overflow-y: hidden;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}

.logo{
    color: white;
    padding: 15px 0px;
    z-index: 99;
    margin-left: 20px;
   

}
.no-scroll {
  overflow-y: hidden;
}
h1, h2, h3{
	font-family: 'Playfair Display', serif;
	font-weight: 600;
}
h2{
   font-weight: 600; 
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
h3{
    text-transform:capitalize;
	font-weight: 700; 
    font-size: 30px;
}
h1{
    position: relative;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    top:15%;
    font-size: 50px;
	text-transform: capitalize;
	font-weight: 400;
	z-index: 10;
	
}
p{
  font-family: 'Raleway', sans-serif;  
    font-size: 18px;
	letter-spacing: 1px;
    
}

.hero{
  width: 1920px;
  height: 100vh;
  margin: auto;
    box-sizing: border-box;
	
}
/* Dodato bio img */
/**.slider-bg img {
  animation: kenburns var(--animationDuration) linear infinite 0s;
  width:100%;
	
  opacity: 0;
}
.kenburns-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	 box-sizing: border-box;
  /* animation: kenburns 18s linear infinite 0s; 
}**/

.h1-serie1{
    color: white;
    text-align: center;
    padding-top: 320px;
    
}
.serie1-text{
    text-align: center;
    width: 1200px;
    margin: 80px auto;
    
}
.serie1-img img{
   width: 1920px;
}
.serie1-img2{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.serie1-text1{
    width: 600px;
   margin: auto 0px;
}
.serie1-container{
    display: flex;
   margin-top: 15px;
  
}
.container1{
    display: flex;
    flex-direction: column;
}
.image{
    width: 800px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.image-div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.text2{
    margin: auto;
    width: 700px;
}


.slider-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    overflow: hidden;
	z-index: 1;
    
	
}
.img1{
	background-image: url("images/slider/slide-3.jpg");
}
.img2{
	background-image: url("images/slider/slide-1.jpg");
}
.img3{
	background-image: url("images/slider/slide-2.jpg");
	background-position:top !important;
}
.img4{
	background-image: url("images/slider/image2.jpg");
	background-position:center!important;
}

.text-reveal{
    transition: all 1.5s;
    opacity: 0;
}

@keyframes kenburns {
  0% {
    opacity: 0;
    transform: scale(1);
  }
 5%{
        opacity: 1;
   }
   75% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
/***
.hero-slider {
  position: absolute;
  width: 100%;
  height:100%;
  overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
     background:#000;
    
}
.hero-slider:after{
    position: absolute;
    content:'';
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    background:#000;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
}
**/

.banner-img{
	position: absolute;
	background-repeat: no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scale(1.2);
	animation: animate 15s linear infinite;
	background-position: bottom;
}

.banner-img:nth-child(1){
	animation-name: animate-1;
	z-index: 3;
}
.banner-img:nth-child(2){
	animation-name: animate-2;
	z-index: 2;
}
.banner-img:nth-child(3){
	animation-name: animate-3;
	z-index: 1;
}
.banner-img:nth-child(4){
	animation-name: animate-4;
	z-index: 0;
}

@keyframes animate-1 {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
 1.5%{
        opacity: 1;
	}
   23%{
        opacity: 1;
	}
 26%{
        opacity: 0;
	    transform: scale(1);
	}
 
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
	98%{
		opacity: 0;
    transform: scale(1.22);
	}
	100%{
		opacity: 0;
    transform: scale(1.33);
	}
	
}
@keyframes animate-2 {
  23% {
    opacity: 1;
    transform: scale(1.2);
  }
 26%{
        opacity: 1;
   }
   48% {
    opacity: 1;
   
  }
  51% {
    opacity: 0;
    transform: scale(1);
  }
	100%{
		opacity: 0;
    transform: scale(1.2);
	}
}
@keyframes animate-3 {
  48% {
    opacity: 1;
    transform: scale(1.2);
  }
 51%{
        opacity: 1;
   }
   73% {
    opacity: 1;
   
  }
  76% {
    opacity: 0;
    transform: scale(1);
  }
	100%{
		opacity: 0;
    transform: scale(1.2);
	}
}
@keyframes animate-4 {
  73% {
    opacity: 1;
    transform: scale(1.2);
  }
 76%{
        opacity: 1;
   }
   98% {
    opacity: 1;
   
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
	
}


.slider-h1{
    position: absolute;
    top:50%;
    left:35%;
    z-index: 90;
    color: white;
   font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px;
    align-items: center;
    
    z-index: 92;
    margin: 0px;
    
}
.hamburger{
    display: none;
    width:40px;
    height: 35px;
    cursor: pointer;
    appearance:none;
    background: none;
    outline:none;
    border:none;
    position:relative;
    margin: auto 20px;
    z-index: 99;
}
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height:2px;
    background-color: white;
    margin: 6px 0px;
    transition:0.4s;
   
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-6px, 4px);
}
.hamburger.is-active:after{
 transform: rotate(45deg) translate(-7px, -5px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position:fixed;
    left:100%;
    width: 100%;
    min-height: 100vh;
    display:block;
    z-index:98;
    background-color: black;
    height: 100vh;
    padding-top: 190px;
    list-style: none;
    margin-top: -70px
}
.mobile-nav ul{
    list-style: none;
    font-size: 18px;
    margin: auto ;
    padding-left: 0px;
}
.mobile-nav a{
    display: none;
    text-align: center;
    margin:0px auto 16px;
    padding: 10px 16px;
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left:0;
}
.mobile-nav a:hover{
    color: white;
}
.nav-links{
    display: flex;
    list-style: none;
	z-index: 100;
   
}
.nav-links li{
    padding: 10px 40px;
    position: relative;
	z-index: 90;
   
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li a:hover{
    text-decoration: underline;
    
}

ul li:hover ul li{
    display: block;
    background-color:rgba(255,255,255,0.2);
    list-style: none;
    
}
nav ul ul li{
    display: none;
}
.dropdown{
    list-style: none;
}
.dropdown > li{
    padding: 0px;
}
.dropdown li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    width: 150px;
}
nav ul ul {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 44px;
}
.slider{
    margin: 80px 0px;
    padding: 0px;
}
.series-h2{
    text-align: center;
     padding-top: 40px;
    padding-bottom: 0px;
	letter-spacing: 0px;
}
.line{
    width: 40px;
    height: 3px;
    background-color: black;
     margin-bottom: 40px;
    margin-left: 30px;
	
}

.item{
    display: flex;
    padding: 0px 15px;
}
.flex-img{
        height: 300px;
    }
.serie-text{
    margin:auto;
    width: 500px;
}

.serie-text h3{
    padding-bottom: 10px;
}
.serie1{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}
.owl-nav{
    position: absolute;
    top:-5rem;
    right: 0;
    margin-right: 20px;
      font-size: 3em;
}
.owl-prev, .owl-next{
    width: 40px;
    height: 70px;
   
}
.owl-stage {
	margin-left: 20px;
	margin-right: 20px;
}
.flex-item{
    display: flex;
    flex-direction: column;
    padding: 15px 7px;
    width: 500px;
    gap:15px;

}
.flex-item1{
    display: flex;
    flex-direction: column;
    padding: 15px 7px;
    flex-basis: 700px;
    gap:15px;
  }
.flex-item img, .flex-column img, .flex-item1, .flex-item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-item1{
    width: 700px;
    object-fit: cover;
    height: 300px;
}
.flex-item2{
    display: flex;
    flex-direction: column;
    padding: 15px 7px;
    flex-basis: 600px;
    gap:15px;
    
}

.flex-column{
    padding-top: 15px;
    width: 500px;
    padding-bottom: 15px;
    padding-left: 8px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 50px;
}
.font{
	font-family: 'Cardo', serif;
	font-weight: 500;
	text-transform: lowercase;
	letter-spacing: 0px;
	
}
.text-about{
    width: 700px;
    margin: auto 50px;
}
.img-about{
    width: 600px;
    padding:50px 0px;
	margin-right: 50px;
}

.btn{
    width: 130px;
    height: 37px;
    background-color: #1F303B;
    color: white;
    margin-top:30px;
    border: none;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.btn:hover{
    background-color: #16222A;
}
.bg-img{
    background-image: url("images/sacred-nightscapes/image5.jpg");
    width: 1920px;
    height:800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
    background-size: cover;
    text-align: center;
    margin: auto;
	
}
.bg-text{
    color:white;
    font-size: 20px;
    width: 800px;
    text-align: center;
    margin: auto;
    padding-top: 350px;
}
.filip-qoute{
    color:white;
    
}
.quote-line{
    width: 50px;
    height: 1px;
    background-color: white;
    margin: 10px auto;
}
.video-section{
    display: flex;
   margin: 120px 0px;
    justify-content: space-around;
}

.video-text{
    width: 600px;
    margin: auto 0px;
}
.video-slider{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
}
#carousel-container {
  display: block;
  flex-direction: column;
  /* justify-self: center; */
  /* align-self: center; */
  /* Width video slajda. Da prikaze jedan treba staviti width jednog videa. */
  width: 960px;
  overflow: hidden;
}
.carousel {
  display: flex;
  align-items: start;
  justify-content: start;
  /* width: 460px; */
  transition: 200ms ease-in-out transform;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.slide {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 10px;
  /* width: var(--slideWidth); */
}
.navigation-video{
 position: relative;
   
    
}
.prev, .next{
	border:none;
	background-color: none;
   font-size: 20px;
    color: black;
	padding: 10px;
	
}
.video-slider {
  width: 50%;
}
.slide{
	padding: 20px;
	
}
.wrapper-book{
    /** overflow-x: hidden;
     position: relative;**/
    
    
}
.book-p{
    width: 700px;
    margin-left: 80px;
}
.book-h2{
    margin-left: 3%;
}
.container-book{
    display: flex;

}
section{
    display: flex;
    justify-content: space-between;
    margin: 50px;
   /** width: 100vw; **/

}
.section-img{
    width: 500px
}
.book-text{
    width: 600px;
    margin: auto 0px;
    padding-right: 40px
}
.book-img{
    display: flex;
    gap:15px;
}
.book-img img{
    width: 500px;
    height: auto;
}
.line1{
     width: 40px;
    height: 3px;
    background-color: black;
    margin-left: 80px;

}
footer{
     background-color: #16222A;
     
}
.footer-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    
    
}
.logo-footer{
    color: white;
    font-size: 26px;
    border-right: white solid 1px;
    width: 300px;
    margin-top: 50px;
}
.navigation-footer{
	display: flex;
}

.footer-nav{
    list-style: none;
    margin-top: 50px;
}
.footer-nav li{
    padding: 20px;
    
}
.footer-nav li a{
  color: white;
    text-decoration: none;
}
.footer-nav li a:hover{
    text-decoration: underline;
}
.contact-info p{
    color: white;
    padding: 10px;
   
}
.contact-info{
    margin-top: 30px;
}
.copyrights{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
}
.all-series{
    text-align: center;
    margin: 80px 0px;;
}
.all-series p{
    width: 1000px;
    margin: auto;
}
.all-series2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.all-series1{
    background-image: url(images/bg-image-series.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    
    
}

.series1-text h3{
     color: white;
}
.series1-text p{
    color: white;
    width: 600px;
    
}
.series1-text{
    position: relative;
    top: 450px;
    left: 30px;
}
.series-div{
    width: 800px;
    position: relative;
    margin: 0px 30px
}
.series-div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, .6);
}
.all-series-img img{
    width: 800px;
}
.btn-serie{
     width: 150px;
    height: 40px;
    background-color:transparent;
    color: white;
    margin-top:10px;
    border: 1px solid white;
}
.all-series3{
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}
.all-series3-img img{
    width: 900px;
}
.all-series3-text{
    width: 600px;
    margin: auto;
}
@media screen  and (max-width:1919px){
    .wrapper{
        width:100%;
    }
    .nav-links{
        margin-right: 
            10px;
    }
	.hero{
		width: 100%;
	}
	.bg-img{
		width: 100%;
	}
	.hero-slider{
		
	}
}
@media screen and (max-width:1660px){
	#carousel-container{
		width:700px;
	}
}
    @media screen  and (max-width:1600px) {
        #carousel-container{
            width: 700px;
        }
        .iframe-div {
         position:relative; 
            display:block; 
            width: 100%;
     }
        .iframe-div iframe{
            width: 700px;
            margin: auto;
        }
        .serie-text{
        width: 400px;
       }
		.serie1{
			width: 60%;
		}
        .serie-text{
             width: 35%;
    }
		 
		.book-h2{
         margin-left: 4%;
}
		h1{
		top:12%;
	}
    }
@media screen  and (max-width:1500px){
	.img-about{
		width: 40%;
	}
	
	.text-about{
		width: 40%;
	}
}
@media screen  and (max-width:1400px){
	  .nav-links{
            display: none;
        }
        .mobile-nav{
            display: block;
			
        }
         .hamburger{
            display: block;
			
        }
        .mobile-nav a{
            display: block;
			margin: 0px;
			text-align: left;
			padding: 30px;
			border-bottom: 1px #1F1F1F;;
			width: 100%;
			letter-spacing: 1px;
	}
	.mobile-drop{
		display: none;
	}
	.open-menu {
		display: block !important;
	}
	  
	  .video-text{
		width: 30%;
	 }
	.img-about img{
	width: 400px;
}
	.img-about{
		margin-right:-80px;
	}
}
@media screen  and (max-width:1300px){
     section{
           flex-direction: column; 
        }
     .book-text{
            margin-bottom: 20px;
        }
	 .serie-text{
             width: 30%;
    }
        
	 .flex-img{
        height: 200px;
	}
	.flex-column{
		height: 445px;
	}
	p{
		font-size: 18px;
	}
	.btn{
		margin-top: 20px;
	}
	 #carousel-container{
            width: 600px;
        }
     .video-text{
		width: 35%;
	}
	h3{
		font-size:26px;
		}
	
    }
    @media screen  and (max-width:1200px){
       
       .serie1{
          width: 100%;
    }
    .flex-item{
        width: 50%;
		padding-left: 0px;
    }
    .flex-column{
        width: 50%;
		height: 545px;
        
    }
    .flex-img{
        height: 250px;
        
    }
    .series-h2{
        text-align: center;
        margin: auto;
    }
    .mobile-item{
        width: 100% !important;
    }
    .flex-item2{
        width: 50%;
    }
    .serie-text{
       margin-left: 3%;
       width: 80%;
    }
     .item{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
       
    }
	h1{
		font-size:40px;
	}
   h2{
	    font-size: 30px;
	}
		
}
@media screen  and (max-width:1130px){
	.video-section{
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 60px;
		}
	#carousel-container{
            width: 700px;
        }
      .video-text{
		width: 80%;
		  margin-bottom: 50px;
		  text-align: center;
		  
	}
}
@media screen  and (max-width:1024px){
	h1{
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.owl-stage { margin-left: 0px}
	.serie-text{
       margin-left: 0px;
 }
}
@media screen  and (max-width:1080px){
	.section-img{
		width: 50%;
	}
	
}
 @media screen  and (max-width:940px){
     .about{
       flex-direction: column; 
		  align-items: center;
		margin-top: 0px;
    }
	 .img-about{
		 width: 80%;
		 margin: 40px auto;
		 padding: 0px;
	 }
	 .text-about{
		 width: 80%;
		 text-align: center;
	 }
	 .bg-text{
		 width: 93%;
		 margin: auto;
	 }
	 .logo-footer{
		 width: 200px;
	 }
	  .logo-footer img{
		 width: 150px;
	 }
	 
    }
@media screen  and (max-width:870px){
	.flex-img{
        height: 200px;
        
    }
	.flex-column{
        width: 50%;
		height: 445px;
        
    }
	.item{
		width: 100%;
	}
}
@media screen  and (max-width:800px){
	.footer-div{
		flex-direction: column;
		align-items: center;
		
	}
	.logo-footer{
		border:none;
		width: 70%;
		text-align: center;
	}
	.contact-info{
		text-align: center;
	}
	.footer-nav li{
		padding-left: 0px;
	}
	
}
@media screen  and (max-width:700px){
	#carousel-container{
            width: 600px;
        }
	section{
		margin-left: 30px;
	}
}
@media screen  and (max-width:600px){
	.flex-img{
        height: 150px;
        
    }
	.flex-column{
        height: 337px;
		padding-left:  0px;
		padding-top: 15px;
		padding-bottom: 15px;
        
    }
	.flex-item {
		gap:7px;
	}
	.serie-text{
		width: 95%;
		margin-right: 20px;
		margin-right: 10px;
	}
	p{
		font-size:16px;
	}
	h1{
        font-size: 35px;
		margin-top: 15%;
		 
     }
     h2{
           font-size: 30px;
        }
     h3{
            font-size: 24px;
        }
	.logo img{
		width: 150px;
		margin-left: -10px;
	}
	.logo{
		margin-left: 10px;
		margin-top: 10px;
	}
	
	#carousel-container{
            width: 500px;
        }
	.book-text{
		width: 400px;
	}
	
}
@media screen  and (max-width:500px){
    .about-img{
        width: 92%;
    }
	.text-about{
		text-align: left;
		width: 92%;
	}
	.slide iframe{
		width: 360px;
		height: 202.50px;
	}
	#carousel-container{
            width: 400px;
        }
	.video-text{
		width:95%;
	}
	.prev, .next{
		font-size:16px;
	}
	.bg-img{
		height: 600px;
	}
	.bg-text{
		padding-top: 200px;
		font-size:16px;
	}
	.copyrights{
		font-size: 14px;
	}
	.btn{
		font-size:14px;
	}
}
@media screen  and (max-width:420px) {
	.flex-img{
        height: 100px;
        
    }
	.flex-column{
        height: 237px;
}    
	.book-text{
		width: 350px;
 }
	.section{
		margin-left: 10px;
	}
	h1{
        margin-top: 11%;
		
		 
     }
     h2{
           font-size: 29px;
        }
     h3{
            font-size: 22px;
        }
	.owl-nav{
		font-size:2em;
	}
	.btn{
		width: 120px;
		height: 40px;
		font-size:14px;
	}
	 .hamburger{
            margin-right: -3px;
			
        }
	.navigation{
		margin-top: -20px;
	}
}